guestfish -a $1 -i ln-sf /dev/null /etc/systemd/system/NetworkManager.service
guestfish -a $1 -i ln-sf /dev/null /etc/systemd/system/NetworkManager-dispatcher.service
guestfish -a $1 -i ln-sf /dev/null /etc/systemd/system/NetworkManager-wait-online.service
guestfish -a $1 -i upload /tmp/fss-ifcfg-eth0.{{ item.name }} /etc/sysconfig/network-scripts/ifcfg-eth0
guestfish -a $1 -i upload /tmp/hostname.{{ item.name }} /etc/hostname
guestfish -a $1 -i upload /tmp/fss-network.{{ item.name }} /etc/sysconfig/network
guestfish -a $1 -i upload /tmp/fss-resolv.conf.{{ item.name }} /etc/resolv.conf
guestfish -a $1 -i upload /tmp/bash_profile /root/.bash_profile
guestfish -a $1 -i mkdir-mode /root/.ssh 0700
guestfish -a $1 -i chown 0 0 /root/.ssh
guestfish -a $1 -i upload /tmp/authorized_keys /root/.ssh/authorized_keys
